<!-- firebase 
    <script type="module" src="https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js" ></script>
    <script type="module" src='https://www.gstatic.com/firebasejs/9.4.1/firebase-auth.js' ></script>
    <script type="module" src='https://www.gstatic.com/firebasejs/9.4.1/firebase-firestore.js' ></script>  
    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js'
        import { auth } from 'https://www.gstatic.com/firebasejs/9.4.1/firebase-auth.js'
        import { firestore } from 'https://www.gstatic.com/firebasejs/9.4.1/firebase-firestore.js'

        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyCfIf6FCeXmJlKswRdkwZGNfHvPOSiz5sU",
            authDomain: "appvet-480bd.firebaseapp.com",
            projectId: "appvet-480bd",
            storageBucket: "appvet-480bd.appspot.com",
            messagingSenderId: "348071268464",
            appId: "1:348071268464:web:54dab8e563ace9230c24b5"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const fbauth = auth();
        const fbdb = firestore();
    </script>
    <script type="module" src="../firebase/conn.js"></script>--> 