/* footer */
.ul_ {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
    background-color:#DFD189;
}

.ul_li {
    position: relative;
    list-style: none;
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    margin-right: 30px;
    border-radius: 16px;
    overflow: hidden;
}

.ul_li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: .9s;
    z-index: -1;
}

.ul_li:hover::before {
    left: 0;
}

.ul_li_a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    line-height: 80px;
    transition: .9s;
    transform: rotateY(0);
}

.ul_li:nth-child(1) a {
    color: #E5DAA0;;
}

.ul_li:nth-child(1):hover::before {
    background: #E5DAA0;
}

.ul_li:nth-child(2) a {
    color: #E5DAA0;
}

.ul_li:nth-child(2):hover::before {
    background: #E5DAA0;
}

.ul_li:nth-child(3) a {
    color: #E5DAA0;
}

.ul_li:nth-child(3):hover::before {
    background: #E5DAA0;
}

.ul_li:nth-child(4) a {
    color: #E5DAA0;
}

.ul_li:nth-child(4):hover::before {
    background: #E5DAA0;
}

.ul_li:nth-child(5) a {
    color: #E5DAA0;
} 

.ul_li:nth-child(5):hover::before {
    background: #E5DAA0;
}

.ul_li:hover a {
    color: #fff;
    font-size: 40px;
    transform: rotateY(360deg);
}