@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    background: #E5DAA0;
}

.textito{
    font-family: 'Rampart One', cursive;
    text-align: center;
}

.spaces{
    padding: 30px 20px 30px 20px;
}

.spaces-2{
    padding: 3% 0;
    background-color: #DFD189;
}

.img-chiquita{
    max-width: 100%;

}

.div-info{
    padding: 0;
    margin: 0;
}

.yellow-space{
    height: 100px;
    width: 100%;
    background: #E5DAA0;
    padding: 10px 50px 20px;
}